.idea
/node_modules
/public/hot
/public/storage
/public/docs
/public/**
/storage/*.key
ekhoni-daktar-99596-2eded06c49c4.json
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
